body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    background: rgb(6, 175, 236);
    background: linear-gradient(90deg, rgba(6, 175, 236, 0.402242537640056) 0%, rgba(235, 223, 16, 0.25098203343837533) 53%, rgba(0, 212, 255, 0.39944141719187676) 100%);
}

#root {
    overflow: hidden;
}